<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <style>
      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        color: #000021;

        background-color: #e6e6ef;
      }

      .containers {
        max-width: 20%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        display: block;
        cursor: pointer;
        font-weight: 500;
        margin-bottom: 0.1%;
      }

      label span {
        display: inline-flex;
        align-items: center;
        padding: 10px 20px 10px 10px;
        border-radius: 31px;
        transition: 0.25s ease;
      }

      label span:hover,
      input[type="radio"]:checked + span {
        background-color: #d6d6e5;
      }

      label span:before {
        content: "";
        background-color: #fff;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        margin-right: 10px;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 2px #00005c;
      }

      input[type="radio"]:checked + span:before {
        box-shadow: inset 0 0 0 10px #00005c;
      }
      img {
        width: 40px;
        height: 100%;
      }

      body {
        background-color: steelblue;
      }
      @media (max-width: 800px) {
        body {
          font-size: 12px;
        }
        img {
          width: 30px;
        }

        label span {
          padding: 2px 2px 2px 1px;
          border-radius: 10px;
          transition: 0.25s ease;
        }
        input[type="radio"]:checked + span:before {
          box-shadow: inset 0 0 0 1px #00005c;
        }
      }
    </style>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Make Account</h2>
                  <p class="text-white-50 mb-5">Enter Your username and Code</p>
                  <% if(flasherrormessage.length>0){%>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    <strong><%=flasherrormessage%></strong>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                  <%}%>
                  <form action="/sample" method="post">
                    <div class="form-outline form-white mb-4">
                      <input
                        type="text"
                        id="typeEmailX"
                        class="form-control form-control-lg input"
                        autofocus
                        placeholder="ðŸ‘¤ Your name."
                        name="name"
                        required
                      />
                      <label class="form-label usernameMessage" for="typeEmailX"
                        >Enter Username</label
                      >
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input
                        type="text"
                        id="typePasswordX"
                        class="form-control form-control-lg code"
                        placeholder="Code here ðŸ”"
                        required
                        name="code"
                      />
                      <label class="form-label usernameMessage" for="typeEmailX"
                        >Enter Existing Code</label
                      >
                    </div>
                    <!-- <div class="text-center">
                      <div>
                        <P class="fs-3">Make My own room</P>
                      </div>
                      <div class="make">
                        <button
                          type="button"
                          class="btn btn-primary btn-lg px-5"
                        >
                          MAKE
                        </button>
                      </div>
                    </div> -->
                    <div class="text-start">
                      <p>Select Your Avatar</p>
                      <div class="container d-flex flex-wrap">
                        <label id="javascript">
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-1"
                            required
                          />
                          <span
                            ><img src="./public/avatar/avatar-1.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-2"
                          />
                          <span
                            ><img src="./public/avatar/avatar-2.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-4"
                          />
                          <span
                            ><img src="./public/avatar/avatar-4.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-6"
                          />
                          <span
                            ><img src="./public/avatar/avatar-6.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-7"
                          />
                          <span
                            ><img src="./public/avatar/avatar-7.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-8"
                          />
                          <span
                            ><img src="./public/avatar/avatar-8.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-9"
                          />
                          <span
                            ><img src="./public/avatar/avatar-9.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-10"
                          />
                          <span
                            ><img src="./public/avatar/avatar-10.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-11"
                            checked
                          />
                          <span
                            ><img src="./public/avatar/avatar-11.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-12"
                          />
                          <span
                            ><img src="./public/avatar/avatar-12.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-13"
                          />
                          <span
                            ><img src="./public/avatar/avatar-13.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-14"
                          />
                          <span
                            ><img src="./public/avatar/avatar-14.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-15"
                          />
                          <span
                            ><img src="./public/avatar/avatar-15.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-17"
                          />
                          <span
                            ><img src="./public/avatar/avatar-17.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-18"
                          />
                          <span
                            ><img src="./public/avatar/avatar-18.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-19"
                          />
                          <span
                            ><img src="./public/avatar/avatar-19.png" alt=""
                          /></span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            id="javascript"
                            name="avatar"
                            value="avatar-20"
                          />
                          <span
                            ><img src="./public/avatar/avatar-20.png" alt=""
                          /></span>
                        </label>
                      </div>
                    </div>

                    <button
                      class="btn btn-outline-light btn-lg px-5 mt-5 joinRoom"
                      type="submit"
                    >
                      Enter Room
                    </button>
                  </form>

                  <div
                    class="d-flex justify-content-center text-center mt-4 pt-1"
                  >
                    <a href="#!" class="text-white"
                      ><i class="fab fa-facebook-f fa-lg"></i
                    ></a>
                    <a href="#!" class="text-white"
                      ><i class="fab fa-twitter fa-lg mx-4 px-2"></i
                    ></a>
                    <a href="#!" class="text-white"
                      ><i class="fab fa-google fa-lg"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      const makeroombutton = document.querySelector(".make");
      const joinRoombutton = document.querySelector(".joinRoom");
      const code = document.querySelector(".code");
      const textAfterMakingRoom = document.querySelector(".roomh3");
      const connectFriendsText = document.querySelector("h4");
      const username = document.querySelector(".input");
      const usernameMessage = document.querySelector(".usernameMessage");
      makeroombutton.addEventListener("click", () => {
        textAfterMakingRoom.textContent = "Your Room Id";
        textAfterMakingRoom.classList.remove("text-danger");
        textAfterMakingRoom.classList.add("text-success");
        if (username.value === "") {
          usernameMessage.textContent = "Enter Username *";
          usernameMessage.classList.add("text-danger");
        }

        // connectFriendsText.textContent =
        //   "Share this id with friends to connect to them";
        code.value = "<%= entryCode %>";
      });

      joinRoombutton.addEventListener("click", (e) => {
        if (username.value === "") {
          usernameMessage.textContent = "Enter Username *";
          usernameMessage.classList.add("text-danger");
        }
        if (code.value === "") {
          textAfterMakingRoom.textContent = "Enter Code *";
          textAfterMakingRoom.classList.add("text-danger");
        }
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
